body{
  background:#f5c94c;
}
/*a{
  text-decoration: none;
}
p{
  margin-top:70px;
}
.mode{
  background:#b2afa6;
  color:black;
  height:133pt;
  border:5px solid #813f7f;
  border-radius:10px;
  margin:10px;
  font:30pt '210 데이라잇';
  text-align: center;
}*/
.mode2{
  background:#b2afa6;
  color:black;
  height:180px;
  border:5px solid #813f7f;
  border-radius:10px;
  margin:10px;
  font:20pt '210 데이라잇';
  text-align: center;
}
#top{
  color:black;
  height:120pt;
  padding-left:15px;
  font:22pt '210 데이라잇';
}
