body {
  background: #f5c94c;
  font-size: 15pt;
}
.room-name,.room-password{
  margin: 15px;
}
form{
  padding: 40px;
  text-align: center;
}
#box{
  margin: 100px auto;
  border-radius: 10px;
  background: #b2afa6;
  width: 500px;
}
.finish {
  width: 90px;
  background: #813f7f;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 12px;
  font: 14pt "210 데이라잇";
  margin: 10px 6px;
  cursor: pointer;
}
.form-control{
  padding-left: 7px;
  height: 25px;
  width: 200px;
  font-size: 10pt;
}
